# General
.idea/

# Python
.venv/
dist/
setup.py
__pycache__

# HBuilder X
unpackage/
project.config.json
project.private.config.json
manifest.json

# C
cmake-build-debug/
CMakeLists.txt
*.exe